@tailwind base;
@tailwind components;
@tailwind utilities;

.table-header {
    @apply bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}

.table-row {
    @apply bg-white;
}

.table-cell {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500;
}

.table-cell-header {
    @apply font-medium;
}

.table-cell-main {
    @apply text-gray-900;
}

.table-row-subset td {
    padding-left: 20px;
    background-color: #f9f9f9;
    max-height: 500px;
}

.expand-enter-active,
.expand-leave-active {
    transition: max-height 0.25s ease;
}

.expand-enter,
.expand-leave-to{
    max-height: 0;
}